/* stylelint-disable-next-line */
@import 'tailwindcss';

@theme {
    --font-sans: var(--font-sans), sans-serif;
    --font-serif: var(--font-serif), serif;
    --font-display: var(--font-display), cursive;
    --color-error: #e50303;
    --color-warning: #ffd100;
    --color-success: #00e686;
    --color-info: #0067c5;
    --color-grey-50: #f1f3f4;
    --color-grey-100: #e4e7eb;
    --color-grey-200: #ccd2d8;
    --color-grey-300: #9ca5b0;
    --color-grey-400: #7d8793;
    --color-grey-500: #636e7b;
    --color-grey-600: #55606c;
    --color-grey-700: #414c58;
    --color-grey-800: #353f4a;
    --color-grey-900: #212932;
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@layer base {
    html {
        box-sizing: border-box;

        @apply font-sans;
    }

    * {
        box-sizing: inherit;
        scrollbar-color: #e4e7eb #fff;

        &::-webkit-scrollbar {
            width: 7px;
            height: 7px;
        }

        &::-webkit-scrollbar-track {
            background: #fff;
        }

        &::-webkit-scrollbar-thumb {
            background: #e4e7eb;
            border-radius: 15px;

            &:hover,
            &:active {
                background: #ccd2d8;
            }
        }
    }

    h1 {
        @apply font-serif text-2xl font-medium;
    }

    h2 {
        @apply font-sans text-xl font-medium;
    }

    h3 {
        @apply font-serif text-lg font-medium;
    }

    h4 {
        @apply font-serif text-base font-medium;
    }
}

/* stylelint-disable-next-line selector-class-pattern */
.image-gallery {
    --ig-white: rgb(255 255 255 / 60%);
    --ig-blue: #fff;
}
